*, *::after, *::before {
  box-sizing: border-box;
  margin:0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #231F20;
}

.alternate {
  background-color: #231F20;
}

section {
  margin:2rem;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .15rem;
  font-size: 1.5rem;
  margin-left: 0;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #231F20;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover, a:active, a:focus {
  color: #C1C1C0;
}

p {
  letter-spacing: .05rem;
  line-height: 1.7rem;
  max-width: 40rem;
  margin-bottom: 2.5rem;
}

.double-paragraph {
  letter-spacing: .05rem;
  line-height: 1.7rem;
  max-width: 40rem;
  margin-bottom: 1.2rem;
}

ul {
  padding: 0;
  list-style-type: none;
  letter-spacing: .05rem;
  line-height: 1.7rem;
  max-width: 40rem;
}

li {
  margin-bottom: .5rem;
}

em {
  font-weight: 700;
  font-style: normal;
}

.header-nav {
  margin: 1rem;
}

.footer-nav {
  margin: 1rem;
  float: right;
}

.nav-item {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.nav-item-bottom-margin {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
  display: block;
}

.nav-item-alt {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  margin-right: 1rem;
  color: white;
}

.about-link {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  color: white;
  margin-left: 0;
  margin-right: 1rem;
}

.alternate-h1 {
  color: white;
}

.about-paragraph {
  color: white;
  margin-left: 0;
  margin-top: 2rem;
}

.project-title {
  margin-bottom: 1.5rem;
}

.project-subtitle {
  margin-top: .5rem;
}

.intro {
  margin-top: 22%;
  max-width: 40rem;
}

.main-section {
  margin-top: 15%;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.project-component-1 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #48755a;
  padding: 2rem;
  margin: 0 0 1rem 0;
  width: 100%;
  max-width: 35rem;
  height: 20rem;
  box-shadow: 1px 3px 10px #C1C1C0;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project-component-1:hover, .project-component-1:active, .project-component-1:focus {
  color: white;
  background-color: #48755a;
}

.project-component-2 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #253444;
  padding: 2rem;
  margin: 0 0 1rem 0;
  width: 100%;
  max-width: 35rem;
  height: 20rem;
  box-shadow: 1px 3px 10px #C1C1C0;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project-component-2:hover, .project-component-2:active, .project-component-2:focus {
  color: white;
  background-color: #253444;
}

.project-component-3 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #FF9B59;
  padding: 2rem;
  margin: 0 0 1rem 0;
  width: 100%;
  max-width: 35rem;
  height: 20rem;
  box-shadow: 1px 3px 10px #C1C1C0;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project-component-3:hover, .project-component-3:active, .project-component-3:focus {
  color: white;
  background-color: #FF9B59;
}

.project-component-4 {
  display: inline-block;
  text-decoration: none;
  color: #231F20;
  background-color: #A6FFFF;
  padding: 2rem;
  margin: 0 0 1rem 0;
  width: 100%;
  max-width: 35rem;
  height: 20rem;
  box-shadow: 1px 3px 10px #C1C1C0;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project-component-4:hover, .project-component-4:active, .project-component-4:focus {
  color: #231F20;
  background-color: #A6FFFF;
}

.project-component-5 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #0195E3;
  padding: 2rem;
  margin: 0 0 1rem 0;
  width: 100%;
  max-width: 35rem;
  height: 20rem;
  box-shadow: 1px 3px 10px #C1C1C0;

  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project-component-5:hover, .project-component-3:active, .project-component-3:focus {
  color: white;
  background-color: #0195E3;
}

.full-bleed {
  width: 100%;
  height: 100%;
  margin: 0 0 4rem 0;
}

.detail-intro {
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.main-content {
  max-width: 40rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.within-content {
  width: 100%;
  height: 100%;
  margin-bottom: 6rem;
}

.within-content-shadow {
  width: 100%;
  height: 100%;
  margin-bottom: 6rem;
  box-shadow: 1px 3px 10px #C1C1C0;
}

.within-content-double {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.within-content-double-shadow {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 10px #C1C1C0;
}

@media (min-width:28rem){
  .main-content {
    margin-left: auto;
    margin-right: auto;
  }

  .project-title {
    margin-left: 0;
  }

  h1 {
    margin-left: 1rem;
  }

  p {
    margin-bottom: 4rem;
  }

  .project-component-1 {
    margin: 1rem;
    color: #231F20;
    background-color: #FFFFFF;
  }

  .project-component-2 {
    margin: 1rem;
    color: #231F20;
    background-color: #FFFFFF;
  }

  .project-component-3 {
    margin: 1rem;
    color: #231F20;
    background-color: #FFFFFF;
  }

  .project-component-4 {
    margin: 1rem;
    color: #231F20;
    background-color: #FFFFFF;
  }

  .project-component-5 {
    margin: 1rem;
    color: #231F20;
    background-color: #FFFFFF;
  }

  .about-paragraph {
    margin-left: 1rem;
  }

  .about-link {
    margin-left: 1rem;
    margin-right: 0;
  }

  .main-section {
    margin-left: 2rem;
    margin-right: 0;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  border-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*STYLE GUIDE + CITATION STYLING*/
.citation-section {
  display: block;

  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border-top: .05rem solid #C1C1C0;
  padding-top: 1rem;
}

.citation-p {
  margin-bottom: 0;
  margin-top: 2rem;
}

.styleguide-section {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border-top: .05rem solid #C1C1C0;
  padding-top: 1rem;
}

.styleguide-item {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 17rem;
  margin-right: 1rem;
}

.styleguide-h1 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .4rem;
  font-size: 1.4rem;
  margin: 2rem;
}

.styleguide-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0;
  margin-bottom: 1rem;
}

.no-margin {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .15rem;
  font-size: 1.5rem;
  margin-left: 0;
}

.styleguide-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  flex-basis: 100%;
  font-weight: 300;
  margin-left: 0;
  margin-bottom: 1rem;
}

.styleguide-label {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: .8rem;
  color: grey;
}

.styleguide-p {
  margin-bottom: 1rem;
}

code {
  background-color: #C1C1C0;
  padding: .2rem;
}

.heading-font {
  font-family: 'Roboto Mono', monospace;
}

.swatch-black {
  color: white;
  background-color: #231F20;
  padding: .5rem;
  width: 10rem;
  margin: 1rem;
}

.swatch-grey {
  background-color: #C1C1C0;
  padding: .5rem;
  width: 10rem;
  margin: 1rem;
}

.swatch-white {
  background-color: #FFFFFF;
  border: .05rem solid #C1C1C0;
  padding: .5rem;
  width: 10rem;
  margin: 1rem;
}
/*END OF STYLE GUIDE STYLING*/
